@import "reset";

// Color definitions
$baseColor: rgb(26, 43, 70);
$darkColor: rgb(14, 23, 37);
$accentColor: hsl(0, 0%, 100%);
$glowColor: transparentize($accentColor, .5);
$overlayColor: transparentize($darkColor, 0.05);

@mixin glowText {
	text-shadow: 0px 0px 10px $glowColor;
}

@mixin glowBox {
	position: relative;
	z-index: 90;
	background-color: $accentColor;
	box-shadow: 0px 0px 2px 2px $glowColor;
	color: $darkColor;
}

html {
	background-color: $baseColor;
	color: $accentColor;
	font: {
		family: "Cabin Condensed", Futura, "sans-serif";
	}
}

#overlay.hidden {
	visibility: hidden;
	opacity: 0;

}

#wrapper {
	width: 450px;
	margin: 100px auto 0px auto;
}

h1 {
	@include glowText;
	float: left;
	width: 295px;
	font-size: 110px;
}

.score-container {
	float: left;
	width: 125px;
	padding: 15px;
	font-size: 25px;
	text-align: right;

	span {
		float: left;
	}
}

#best-score {
	@include glowBox;
	margin-top: 7px;
	color: $darkColor;
}

#now-score {
	@include glowText;
	background-color: $darkColor;
	color: $accentColor;
	margin-top: 2px;
}

#buttons {
	float: left;
	width: 438px;
	border: 3px solid $darkColor;
	padding: 3px;
	margin-top: 15px;
}

.button {
	float: left;
	width: 205px;
	padding: 6px;
	font-size: 25px;
	text-align: center;
	height: 30px;
	background-color: $darkColor;
}

.button:hover {
	cursor: pointer;
}

.tile:hover {
	cursor: pointer;
}

#reset {
	margin-right: 4px;
}

#grid {
	float: left;
	width: 428px;
	height: 428px;
	padding: 2px;
	border: 9px solid $darkColor;
	margin-top: 10px;
}

#overlay {
	position: relative;
	float: none;
	top: -3px;
	left: -3px;
	width: 434px;
	height: 434px;
	background-color: $overlayColor;
	z-index: 100;
	transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity  0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
}

#overlay span {
	@include glowText;
	display: block;
	position: absolute;
	left: 0px;
	top: 100px;
	float: none;
	width: 100%;
	font-size: 40px;
	color: $accentColor;
	text-align: center;
}

#button-wrapper {
	position: absolute;
	left: 0px;
	top: 160px;
	width: 100%;
}

.overlay-button {
	display: block;
	width: 200px;
	height: 35px;
	line-height: 35px;
	position: relative;
	margin: 10px  auto 0px auto;
	padding: 5px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	border: 2px solid #FFF;
}

.overlay-button:hover {
	@include glowBox;
}

.tile {
	display: block;
	float: left;
	position: relative;
	width: 84px;
	height: 84px;
	background-color: $darkColor;
	margin-right: 2px;
	margin-bottom: 2px;
	color: $darkColor;
	font-size: 65px;
	text-align: center;
	line-height: 84px;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.twitter {
	background-image: url("twitter.png");
	background-size: 100% 100%;
}

.facebook {
	background-image: url("facebook.jpeg");
	background-size: 100% 100%;
}

.tile:before, .tile:after {
	transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
	-moz-transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
}

.on {
	@include glowBox;
}

.tile:nth-of-type(5n) {
	margin-right: 0px;
}

.left:before, .up:before, .right:after, .down:after {
	content: ' ';
	width: 0;
	height: 0;
	border: 15px solid transparent;
	position:absolute;
}

.left:before {
	border-right-color: $accentColor;
	top: 27px;
	left: 20px;
}

.on.left:before {
	border-right-color: $darkColor;
}

.right:after {
	border-left-color: $accentColor;
	top: 27px;
	right: 20px;
}

.on.right:after {
	border-left-color: $darkColor;
}

.right.left:before {
	left: 10px;
}

.right.left:after {
	right: 10px;
}

.up:before {
	border-bottom-color: $accentColor;
	top: 20px;
	left: 27px;
}

.on.up:before {
	border-bottom-color: $darkColor;
}

.down:after {
	border-top-color: $accentColor;
	bottom: 20px;
	left: 27px;
}

.on.down:after {
	border-top-color: $darkColor;
}

.up.down:before {
	top: 10px
}

.up.down:after {
	bottom: 10px;
}

p:last-of-type {
	border-top: 1px solid #FFF;
	padding-top: 10px;
}

p:first-of-type {
	padding-top: 0px;
	border-top: 0px solid #FFF;
}


p {
	display: block;
	float: left;
	margin-top: 20px;
	width: 450px;
	font-size: 20px;
	line-height: 25px;

	transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
}

p a {
	color: #FFF;
}

p.hidden {
	color: $baseColor;
}

form {
	margin: 20px 0px 0px 185px;
	float: none;
}

#copy {
	float: left;
	width: 450px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
	color: $accentColor;
	text-align: center;
}
